.hotel-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__section-title {
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    padding-left: 20px;
  }

}

.hotel-detail-header {
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  border-radius: 20px;

  &__image {
    max-height: 550px;

    img {
      width: 400px;
      height: 400px;
      max-height: 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 992px) {
    gap: 20px;
  }
}

.hotel-detail-header-info {
  display: flex;
  flex-direction: column;

  &__name {
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 700;
    line-height: 156%;
    text-align: right;
  }

  &__location {
    text-align: right;
  }
}

.hotel-detail-amenities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;

  &__amenity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 32px;
    width: 250px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 16px;
  }

  &__image {
    img {
      width: 36px;
      height: 28px;
    }
  }
}

.hotel-detail-rooms {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__room {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
  }

  &__image {
    max-width: 600px;
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    gap: 50px;

    @media (max-width: 1200px) {
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  &__title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
  }
}
