<div class="hotel-detail" *ngIf="hotel">
  <h1 class="hotel-detail__section-title">Отель</h1>

  <div class="hotel-detail-header">

    <div class="hotel-detail-header__image">
      <img src="{{hotel.image}}">
    </div>

    <div class="hotel-detail-header-info">
      <div class="hotel-detail-header-info__name">{{ hotel.name }}</div>
      <div class="hotel-detail-header-info__location">{{ hotel.location }}</div>
      <div class="hotel-detail-header-info__stars">
        <span *ngFor="let star of getStars(hotel.rating); let i = index" class="star">★</span>
      </div>

      <div class="hotel-detail-header-info__booking">
        <button mat-button class="hotel-detail__button"></button>
      </div>

    </div>
  </div>

  <h2 class="hotel-detail__section-title">Описание</h2>
  <div class="hotel-detail__description">
    <p>{{ hotel.description }}</p>
  </div>

  <h2 class="hotel-detail__section-title">Удобства</h2>
  <div class="hotel-detail-amenities">
    <div class="hotel-detail-amenities__amenity" *ngFor="let amenity of hotel.amenities">

      <div class="hotel-detail-services__image">
        <img src="{{amenity.image}}">
      </div>

      <div>
        {{ amenity.name }}
      </div>

    </div>
  </div>

  <h2 class="hotel-detail__section-title" *ngIf="hotel.rooms.length">Номера</h2>

  <div class="hotel-detail-rooms" *ngIf="hotel.rooms.length">
    <div class="hotel-detail-rooms__room" *ngFor="let room of hotel.rooms">

      <div class="hotel-detail-rooms__image">
        <c-carousel [animate]="false" [pause]="'hover'">
          <c-carousel-inner>
            <c-carousel-item *ngFor="let image of room.images">
              <img
                [src]="image.image"
                class="d-block"
              />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>
      </div>

      <div class="hotel-detail-rooms__info">
        <div class="hotel-detail-rooms__title">
          {{ room.room_type_display }}
        </div>
        <button class="button" style="background: rgb(219, 184, 114)"><span
          style="color: #ffffff">Забронировать</span></button>
      </div>

    </div>
  </div>

</div>
