<div *ngIf="room" [formGroup]="bookingForm" class="d-flex flex-column" style="gap: 20px">

  <div class="room-detail">

    <div class="room-detail-image">
      <h1>Бронирование номера</h1>
      <div class="room-detail-image__image">
        <c-carousel [animate]="false" [pause]="'hover'">
          <c-carousel-inner>
            <c-carousel-item *ngFor="let image of room.images">
              <img
                [src]="image.image"
                class="d-block"
              />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>
      </div>
    </div>

    <div class="room-detail-info">
      <div class="room-detail-info-header">
        <div class="stars">
          <span *ngFor="let star of getStars(room.hotel.rating); let i = index" class="star">★</span>
        </div>
        <div class="room-detail-info-header__title">
          {{ room.hotel.name }}
        </div>
      </div>

      <h2 class="room-detail__title">Время заезда</h2>
      <div class="room-detail-info-date">
        <div class="room-detail-info-date-selector">

          <div class="room-detail-info-date-selector">
            <mat-form-field>
              <label>
                <input matInput [matDatepickerFilter]="dateFilter" required [matDatepicker]="picker" placeholder="Choose a date"
                       formControlName="date">
              </label>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>

          <div class="room-detail-info-date-selector__input">
            <input formControlName="arrivalDate"  [matDatepickerFilter]="dateFilter" matInput [matDatepicker]="arrivalPicker" placeholder="Дата заезда">
            <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
            <mat-datepicker #arrivalPicker></mat-datepicker>
          </div>
          <div class="room-detail-info-date-selector__dash"></div>
          <div class="room-detail-info-date-selector__input">
            <input formControlName="departureDate"  [matDatepickerFilter]="dateFilter" matInput [matDatepicker]="departurePicker" placeholder="Дата выезда">
            <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
            <mat-datepicker #departurePicker></mat-datepicker>
          </div>


        </div>
      </div>

      <div class="dash"></div>

      <div class="room-detail__title">{{ room.room_type_display }}</div>

      <div class="dash"></div>

      <div class="room-detail__title">Удобства номера</div>
      <div class="room-detail-info-amenities">
        <div class="room-detail-info-amenities__amenity" *ngFor="let amenity of room.amenities">
          <div class="room-detail-info-amenities__image">
            <img src="{{amenity.image}}">
            {{ amenity.name }}
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="room-detail room-detail-booking">
    <div class="room-detail__title room-detail__title__booking">Данные гостя</div>
    <div class="room-detail-booking-input">
      <input formControlName="surname" placeholder="фамилия" class="room-detail__input">
      <input formControlName="name" placeholder="имя" class="room-detail__input">
    </div>
  </div>

  <div class="room-detail room-detail-booking">
    <div class="room-detail__title room-detail__title__booking">Контактная информация</div>
    <div class="room-detail-booking-input">
      <input formControlName="email" type="email" placeholder="e-mail" class="room-detail__input">
      <input formControlName="phone" type="tel" placeholder="телефон" class="room-detail__input">
    </div>
  </div>

  <div class="room-detail room-detail-booking">
    <div class="room-detail__title room-detail__title__booking">Итого</div>
    <div class="d-flex flex-row flex-wrap">
      <div class="room-detail__title room-detail__title__booking">{{ nightsCount }} ночей</div>
      <div class="room-detail__title room-detail__title__booking">{{ totalCost }} рублей</div>
      <button type="submit" class="button room-detail-booking__button"
              [disabled]="bookingForm.invalid" (click)="bookRoom()">
        <span>Забронировать</span>
      </button>
    </div>
  </div>

</div>
