/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #F1F1F1!important;
}


.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid rgb(219, 184, 114)!important;
  border-radius: 16px;

  span {
    color: #F0BF5F;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: right;
  }

}

.stars {
  display: flex;
  justify-content: end;
  font-size: 32px;

  span {
    color: gold;
    margin-right: 2px;
  }
}
