<div class="hotel-card">
  <img [src]="hotel.image" alt="{{ hotel.name }}">
  <div class="hotel-info">
    <div class="d-flex flex-row justify-content-between">
      <div class="hotel-price">от {{ hotel.price }} ₽/ ночь</div>
      <div class="hotel-rating">
        <span *ngFor="let star of getStars(hotel.rating); let i = index" class="star">★</span>
      </div>
    </div>
    <div class="hotel-name">{{ hotel.name }}</div>
    <div class="hotel-location">{{ hotel.location }}</div>
    <button (click)="navigateToHotelDetail()" class="button" mat-button>
      <span>Подробнее</span>
    </button>
  </div>
</div>
